{% extends 'base.html' %}
{% block title %}TejeDOM{% endblock %}
{% block titlepage %}Tejedora Compra a Domicilio{% endblock %}
{% block subtitle %}Editar Producto{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
      <div class="mb-2">
        <label><b>Id: {{product.id}}</b></label>
    </div>      
        <div class="mb-2">
            <label for="nombre">Nombre: </label><br>
            <input type="text" name="nombre" value="{{ product.nombre }}" required><br>
        </div>
        <div class="mb-2">
            <label for="proveedor">Proveedor: </label><br>
            <input type="text" name="proveedor" value="{{ product.proveedor }}" required placeholder="Obligatorio"><br>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción (opcional):</label>
            <textarea class="form-control" type="text" name="descripcion" rows="3">{{ product.descripcion }}</textarea>
        </div>
        <div>
            <label>Categoría 1: </label><br>
            <select name="tipo" id="tipo">
                <option value="{{ product.tipo }}">{{ product.tipo }}</option>
                {% for tipo in tipos %}
                    {% if tipo !=  product.tipo %}
                      <option value="{{ tipo }}">{{ tipo }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="mb-2">
            <label>Categoría 2: </label><br>
            <select name="subtipo" id="subtipo">
                <option value="{{ product.subtipo }}">{{ product.subtipo }}</option>
                {% for subtipo in subtipos %}
                  {% if subtipo !=  product.subtipo %}
                  <option value="{{ subtipo }}">{{ subtipo }}</option>
                  {% endif %}
                {% endfor %}
            </select>        
        </div>
        <div class="mb-2">
        <label>Categoría 3: </label><br>
        <input type="text" name="subsubtipo" value="{{product.subsubtipo}}"><br>   
        <div class="mb-3">
            <label for="observaciones" class="form-label">Observaciones (opcional):</label>
            <textarea class="form-control" type="text" name="observaciones" rows="3">{{ product.observaciones }}</textarea>
        </div>
        <label>Precio: </label><br>
        <input type="text" name="precio" value="{{ product.precio }}" required><br> 
        <label>Precio Socios (dejar vacío si es el mismo): </label><br>
        <input type="text" name="precios" value="{{ product.precios }}"><br>
        <label>Activo (Si/No mostrar a clientes): </label><br>
        <select name="activo" id="activo"><br>                    
            <option value="{{ 'Si' if product.activo else 'No' }}">{{ "Si" if product.activo else "No" }}</option>
            <option value="{{ 'No' if product.activo else 'Si' }}">{{ "No" if product.activo else "Si" }}</option>
        </select>
        </div>
        <div class="text-center">    
            <button class="btn btn-primary btn-lg" type="submit">Guardar Nuevo Producto</button>
            <p class="toggle_triangle()mt-4">Copyright 2023, Mercao Social de Córdoba</p>
          </div>
    </form>
</div>
{% endblock %}